html, body {
  min-height: 100vh;
  width: 99vw;
  margin: 0;
  padding: 0;
  background:
    url('https://wallpapers.com/images/high/natural-mist-above-mountains-u3ejbzzd9tozy3bw.webp') center center / cover no-repeat;
  position: relative;
}

/* You can add global styles to this file, and also import other style files */
