################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet9-weather-backend/DotnetWeatherBackend/Logs
