:root {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);
  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );
  --pill-accent: var(--bright-blue);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
}

html,
body {
  background: url('https://wallpapers.com/images/high/natural-mist-above-mountains-u3ejbzzd9tozy3bw.webp')
    center center / cover no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

h1 {
  font-size: 3rem;
  color: var(--gray-900);
  margin: 0;
}

p {
  color: var(--gray-700);
  margin: 0;
}

.weather-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  margin-top: 2rem;
}

.weather-input {
  max-width: 350px;
  width: 90%;
  padding: 1rem 1.5rem;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  font-size: 1.25rem;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  outline: none;
  transition: border-color 0.2s;
}

.weather-input:focus {
  border-color: #4285f4;
  box-shadow: 0 1px 6px rgba(66, 133, 244, 0.28);
}

.weather-btn {
  width: 90%;
  max-width: 350px;
  padding: 1rem 1.5rem;
  border-radius: 24px;
  background: radial-gradient(#2a2170, #514990);
  color: white;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
  box-shadow: 0 1px 6px rgba(66, 133, 244, 0.18);
}

.weather-btn:hover {
  background: #357ae8;
}

.weather-result {
  padding: 1rem;
  border-radius: 16px;
  border: 1px solid #dfe1e5;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  max-width: 1200px;
  width: 100%;
  color: #000;
  margin: 0 auto;
  text-align: center;
}

.weather-card {
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  text-align: center;
  border: 1px solid #dfe1e5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.temp-large {
  font-size: 1.5rem;
  font-weight: bold;
}
